:root {
  --background: #f5f5f5;
  --foreground: #101010;
  --foreground-faded: #666666;
  --foreground-faded-more: #9e9e9e;


  --primary: #597ef7;
  --primary-faded: #bbc7ee;
  --alt-text: #ffffff;

  --background-accent: #ffffff;
  --background-dark: #f0f0f0;
  --darker: #e6e6e6;
 
  --border-colour: #e0e0e0;
  --border-default: 1px solid var(--border-colour);

  --error-dark: #8f0d0d;
  --error-light: #b75353;

  --calendar-blue: #597ef7;
  --calendar-green: #2E8B57;
  --calendar-red: #c56f55;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: var(--darker);
}

::-webkit-scrollbar-track {
  background: none;
}


/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
*/
