.MessageInput {
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    border: none;
    border-radius: 20px;
    background-color: var(--background-accent);
    box-shadow: 0 10px 15px -3px #0000001a;
    margin-bottom: 25px;
    width: 100%;
    max-width: 900px;
    box-sizing: border-box;
    padding: 10px;
    flex-wrap: wrap;
}

.MessageInputContainer {
    flex: 1;
    display: flex;
}

.Input {
    resize: none;
    width: 100%;
    height: 110px;
    padding: 15px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: none;
    background: inherit;
    box-sizing: border-box;
}

.Input:focus {
    outline: none;
}

.Input::placeholder {
    font-family: Arial, sans-serif;
}

.Buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10px;
    gap: 10px;
}

.MessageSubmit {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: var(--primary);
    color: var(--alt-text);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.MessageSubmit#idle,
.MessageSubmit#succeeded,
.MessageSubmit#failed {
    background: var(--primary);
    color: var(--alt-text);
}

.MessageSubmit#loading {
    background: var(--primary-faded);
    color: var(--alt-text);
}

.MessageSubmit svg {
    height: 21px;
    width: 21px;
}

@media (max-width: 768px) {
    .Container {
        flex-direction: column;
        padding: 10px;
    }

    .Buttons {
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 10px;
        padding: 0;
    }

    .MessageSubmit {
        height: 40px;
        width: 40px;
    }
}

@media (max-width: 480px) {
    .Input {
        height: 90px;
        font-size: 14px;
    }

    .Buttons {
        justify-content: center;
        gap: 8px;
        flex-wrap: wrap;
    }

    .MessageSubmit {
        height: 35px;
        width: 35px;
    }
}
