.ChatContainer {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    height: calc(100vh - (135px));
    overflow-y: scroll;
    padding-bottom: 25px;
}

.MessageContainer {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.MessageContent p{
    margin-bottom: 20px;
    line-height: 20px;
}

.MessageContainer h1{
    margin-bottom: 20px;
    line-height: 20px;
}

.MessageContainer h2{
    margin-bottom: 20px;
    line-height: 20px;
}

.MessageContent a{
    color: var(--primary);
}

.MessageContainer ol {
    padding-left: 45px;
}

.MessageContainer ul {
    padding-left: 45px;
}

.MessageContent li{
    margin-bottom: 20px;
    line-height: 20px;
    text-decoration: none;
}

.MessageContent code{
    line-height: 20px;
    font-size: 16px;
    background-color: var(--darker);
    border-radius: 5px;
    padding-left: 2px;
    padding-right: 2px;
    text-wrap: wrap;
}

.MessageContent pre{
    background-color: var(--darker);
    border-radius: 5px;
    padding: 10px;
    text-wrap: wrap;
    margin-bottom: 20px;
}

.MessageContainer table {
    margin-bottom: 20px;
    border-collapse: collapse; 
    width: 100%;
}

.MessageContainer table th{
    padding: 5px;
    background-color: var(--darker);
    border: 1px solid var(--foreground-faded-more);

}

.MessageContainer table td{
    padding: 5px;
    background-color: var(--background-dark);
    border: 1px solid var(--foreground-faded-more);
}

.MessageContainer#assistant {
    display: flex;
    align-self: center;
}

.MessageContainer#assistant .Message {
    text-align: left;
    width: 800px;
}

.MessageContainer#user {
    display: flex;
    align-self: flex-end;
}

.MessageContainer#user .Message {
    text-align: left;
    min-width: 30px;
    max-width: 550px;

    padding-top: 15px;
    padding-bottom: 15px;

    padding-left: 20px;
    padding-right: 20px;
    
    border: none;
    border-radius: 20px;
    background-color: var(--primary);
    color: var(--alt-text);

    box-shadow: 0 10px 15px -3px #0000001a;
    -webkit-box-shadow: 0 10px 15px -3px #0000001a;
    -moz-box-shadow: 0 10px 15px -3px #0000001a;
}