.ActionList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: calc(100vh - (135px));
    overflow-y: scroll;
    width: 100%;
}

.Action {
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Action h1{
    font-size: 18px;
}

.Action h2{
    font-size: 16px;
    font-weight: normal;
}

.Action#add {
    border: 1px solid var(--calendar-blue);
}
.Action#modify {
    border: 1px solid var(--calendar-green);
}
.Action#remove {
    border: 1px solid var(--calendar-red);
}

.ActionTimes {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

