.ActionList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    height: calc(100vh - (135px));
    overflow-y: scroll;
    width: 100%;
}

.Action {
    padding: 10px;
    border-radius: 10px;
    width: 90%;
}

.Action#add {
    background-color: var(--calendar-blue);
}
.Action#modify {
    background-color: var(--calendar-green);
}
.Action#remove {
    background-color: var(--calendar-red);
}

.ActionTimes {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

